<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empréstimo</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style/style.css">   
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('./navbar.ejs', { activePage: 'emprestimo' }) %>
      </div>
      <div class="col py-3">
        <nav class="navbar navbar-light justify-content-between">
          <form class="form-inline" method="get" action="/adicionarEmprestimo">
            <button type="submit" class="btn btn-outline-success">Adicionar empréstimo</button>
          </form>
          <form class="form-inline" method="get" action="/pesquisarEmprestimo">
            <input
              class="form-control mr-sm-2"
              name="pesquisa"
              type="search"
              placeholder="Pesquisar"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              <i class="fa fa-search fa-fw"></i>
            </button>
          </form>
        </nav>
        <hr>
        <div class="list-group">
          <% emprestimos.forEach((emprestimo) => { %>
            <a href="/infoEmprestimo?id_emprestimo=<%= emprestimo.id_emprestimo %>" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= emprestimo.nome %> (Livro: <%= emprestimo.titulo %>) </h5>
              </div>
              <small> Data do emprestimo: <%= emprestimo.data_emprestimo %> - Data da devolução: <%= emprestimo.data_devolucao %></small>
            </a>
          <% }); %> 
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>